:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;

  --color-light: #fefefe;
  --color-dark: #101010;
  --color-darker: #2c3e50;
  --color-medium: #899cb0;

  --background-color: #fefefe;
  --header-color: #e0e0e0;
  --header-back: #022d3c;
  --header-height: 3rem;

  --sidebar-width: 14rem;
  --sidebar-back: #004618;
  --sidebar-color: #e0e0e0;
}

body {
  margin: 0;
  position: fixed;
}

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--background-color);
  color: var(--color-darker);
}

.spacer {
  flex-grow: 1;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: var(--header-color);
  background: var(--header-back);
  height: var(--header-height);
  display: flex;
  align-items: center;

  .title {
    padding-left: 0.5rem;
    font-size: 1.7rem;
    font-weight: bold;
  }
}

.sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  color: var(--sidebar-color);
  background: var(--sidebar-back);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebar-section {
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .sidebar-section-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    color: var(--color-light);

    .button {
      opacity: 0.8;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
      &:active {
        color: yellow;
      }
    }
  }

  .sidebar-section-item {
    font-size: 1.2em;
    padding-left: 0.2em;
  }
}

.view-host {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}

.button {
  display: flex;
  align-items: center;

  padding: 0.35em 0.5em 0.35em 0.5em;
  border-radius: 1em;
  border: 1px solid green;
  background: lightgreen;
  cursor: pointer;
  outline: none;

  .b-icon {
    font-size: 1.5em;
  }

  &:hover {
    outline-color: red;
    outline-offset: 1px;
    outline-width: 1px;
  }
}

.tree-view {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  .ti-item {
    display: contents;
    &:hover,
    &:focus-within {
      .ti-editor-buttons,
      div {
        background: #f5f5f5;
      }
    }
  }

  .ti-status-ready {
    color: green;
  }

  .ti-title {
    white-space: nowrap;
    overflow: hidden;

    align-items: center;
    display: flex;
    //gap: 0.25em;
  }

  .ti-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.25em;
    padding-right: 0.25em;
    display: flex;
    align-content: center;
    align-items: center;

    .ti-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .ti-command-column {
    min-width: 2em;
    overflow: visible;
    justify-content: flex-end;
  }

  .ti-editor-buttons {
    grid-column: 1 / span 5;
    padding-bottom: 1em;
    justify-items: flex-end;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    padding-top: 0.25em;
    position: sticky;
    bottom: 0;
  }

  .ti-editor-selection {
    display: contents;
    &:hover,
    &:focus-within {
      div {
        background: white;
      }
      & > div:nth-child(1) {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
      }
      div:nth-child(2) {
      }
      div:nth-child(3) {
      }
      div:nth-child(4) {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
      }
    }
  }
}

.command-button {
  padding: 0;
  border: none;
  border-radius: 1em;

  font-size: 1em;
  align-items: center;
  background: none;
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 0.1em;
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.1em;

  //transition: box-shadow 1000ms cubic-bezier(0.215, 0.610, 0.355, 1);

  // transition-duration: 2s;
  // transition-property: color;

  svg {
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: black 0 0 0;
    transition-duration: 0.25s;
    transition-property: box-shadow, opacity;
    transition-delay: 0ms;
    transition-timing-function: ease-in-out;
    opacity: 0.6;
  }

  &:hover {
    svg {
      box-shadow: black 0 0 0.25em;
      opacity: 0.7;
    }
  }
  &:active {
    svg {
      box-shadow: black 0 0 0.1em;
      opacity: 1;
    }
  }

  &:focus-visible {
    outline: none;
    svg {
      box-shadow: black 0 0 0.25em;
      opacity: 0.7;
    }
  }
}

.showVideoOnlyCheckbox {
  padding-left: 1em;

  &::after {
    padding-left: 1em;
    white-space: nowrap;
    content: "show videos only";
    color: white;
  }
}
