/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
.status-dot {
  max-width: 1em;
  max-height: 1em;
}
.status-dot circle {
  stroke: #f0f0f0;
  stroke-width: 5px;
}
.status-dot .red {
  fill: #900000;
}
.status-dot .yellow {
  fill: #8e9000;
}
.status-dot .green {
  fill: #00901f;
}
.status-dot .blue {
  fill: #006290;
}
.status-dot .gray {
  fill: #7a7a7a;
}
.status-dot .black {
  fill: #303030;
}
.status-dot .white {
  fill: #fdfdfd;
}
